.tic-tac-toe-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tic-tac-toe {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #070707;
}
.box {
  height: 100px;
  border: 1px solid #070707;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
}
.btn {
  padding: 5px 20px;
  background-color: orange;
  margin-top: 10px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}

/* ================= */
.flappy-container {
  width: 80%;
  height: 80vh;
  border: 3px solid #505050;
  margin: auto;
  position: relative;
}
.bird {
  position: absolute;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Loader 1 css */
.bars div {
  animation: animate 500ms linear alternate-reverse infinite;
}

.bars div:nth-child(2) {
  animation-delay: 150ms;
}
.bars div:nth-child(3) {
  animation-delay: 300ms;
}
.bars div:nth-child(4) {
  animation-delay: 400ms;
}
.bars div:nth-child(5) {
  animation-delay: 500ms;
}
@keyframes animate {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

/* Loader 2 css */
.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  